<p>hellow world</p>
<input type="button" ng-click="change()" value="change">
<ul ng-repeat="item in data">
    <li>{{item.str}}</li>
</ul>
<div>
    <input type="text" ng-model="media.category">
    <p>{{media.category}}</p>
    <p>myself</p>
    <p>我还是我</p>
   <!--  div.row>div.col-md-12*10 -->
   <div class="row">
       <div class="col-md-12"></div>
       <div class="col-md-12"></div>
       <div class="col-md-12"></div>
       <div class="col-md-12"></div>
       <div class="col-md-12"></div>
       <div class="col-md-12"></div>
       <div class="col-md-12"></div>
       <div class="col-md-12"></div>
       <div class="col-md-12"></div>
       <div class="col-md-12"></div>
   </div>
</div>