<!-- 
    大漠的笔记
    var myModule = angular.module('myModule',[]);
    myModule.controller('kelloAngular',['$scope','$http',function($scope,$http){
    


    }])
    myMOdule.directive('hello',function(){
        return {
            restrict:'EAC',
            template:'<div>Hi my friend </div>',
            replace:true
    
        }
    })
    第一部分 第二节：搭建环境，调试，测试环境，测试工具；
    1.代码编辑工具；
    2.断点调试工具；
    3.代码合并和混淆工具；
    4.版本管理工具；
    5.依赖管理工具；
    6.单元测试工具；
    7.集成测试工具；

     div.row>div.col-md-12*10

     gruntfile示例:
        grunt-contrib-ugfily :对代码进行混淆；
        grunt-contrib-grunt：
        grunt-contrib-concat:合并文件；
        grunt-jshint:
        grunt-contrib-watch: ;监控文件变化；































 -->